.profile-div{
    /* background-color: #cfcfcf; */
    /* background-color:#9c9c9c; */
  
    /* width:100%;
    height: 100%; */
   
  /* justify-content: center;
  text-align: center;  */
  /* padding: 20px; */
}
.User-name{
  font-size: 40px;
}
.my-account{
  padding:16px 0px ;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.my-cart{
  padding: 8px;
  /* display: flex !important; */
  background-color: white;
  color: #9c9c9c;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
  margin:10px 10px 10px 0px;
  font-size: 14px;
}