#tablecart {
  width: 700px;
  border-color: #1d3557;
}

#qtybut {
  color: #1d3557;
  background-color: white;
  border-color: #1d3557;
}

#td {
  color: #e63946;
  font-weight: bold;
}

#cartdet {
  font-weight: 100;
}

#close{
  float: right;
  font-size: 25px;
}