@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.banner-image{
    /* background-image: url('banner.avif'); */
   
    /* width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: none; */
    /* background-image: url('addbanner.webp'); */
    background-image: url('img-11.jpg');
    background-size: cover;
    width: 100%;
  
    height: 92vh;
    object-fit: cover;
    transform: none;
    
    
}
.banner-nav{
    text-decoration: none;
}
.banner-nav-text{
    /* color: #f8f8f8; */
    color: black;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
.banner-nav-text :hover{
    color: #f8f8f8;
    text-transform: none;
}
.banner-title{
        /* width: 60rem;
        color: #f8f8f8;
        margin: auto;
        text-align: center;
        font-size: 3.6rem;
        font-weight: 600;
      display: flex;
      justify-content: center; */
      padding-top: 15%;
      padding-bottom: 10%;
}

/* search container */

.header-location-search-container-banner{
    height:54px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 60%;
    border: 1px solid #828288;
}

.food-title{
    
    color: 	black;
    /* color: #dc3545; */
  
    font-size: 28px;
    font-weight: 500;
    font-family: "Fredoka", sans-serif;
   text-decoration: none !important;
}



.header-banner{
    margin-right: 24px;
   
}
.header-right{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 72px;
   
}


.location-wrapper{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0px 10px;
}
.location-icon-name{
    display: flex;
    color: #828288;
}
.location-icon{
    color: #ff7e8b;
    font-size: 20px;
    margin-right: 8px;
}
.location-search-seperator-banner{
    height: 20px;
   
    border: 0.5px solid#828288;
}
.header-searchbar-banner{
    display: flex;
    flex: 2;

}
.search-icon{
    font-size: 20px;
    color: #828288;
    margin: 0px 12px;
}
.search-input-banner{
    border: none;
    outline: none;
    width: 60%;
    font-size: 14px;
    background-color: transparent;
    /* color: #f8f8f8; */
    color: black;
}

   
